-#= simple_form_for(resource, :as => resource_name, :url => #registration_path(resource_name), :html => { :method => :put }) do |f|

= simple_form_for @user, :url => user_setup_path do |f|

  = render "shared/form_errors", :object => @user

  .inputs
    = f.input :email, :required => true, :autofocus => true, :label => false
    = f.input :password, :autocomplete => "off", :required => true, :label => false, :placeholder => "Password"
    = f.input :password_confirmation, :required => true, :label => false, :placeholder => "Password Confirmation"

  .actions
    = f.button :submit, "Create my account", :class => "red-action"