= simple_form_for affiliate, :html => {:multipart => true} do |f|
  = render 'shared/form_errors', :object => affiliate    
  = f.input :company_name, :wrapper_class => "company-name"
  = f.input :website_url, :wrapper_class => "website-name"
  
  .logo-upload
    %label Company Logo
    = f.file_field :logo
    = f.hidden_field :logo_cache

  - if affiliate.logo_url
    .logo-preview
      = image_tag affiliate.logo_url(:thumb)
          
  = f.input :bonded, :wrapper_class => "bonded"

  %br/
  %br/
  
  .clearfix
    .col1
      %h3 How do we reach you?        
      = f.simple_fields_for :addresses do |address|
        = address.input :street_line_1
        = address.input :street_line_2
        = address.input :city, :wrapper => false, :input_html => { :class => "city" }
        = address.input :state, :wrapper => false, :input_html => { :class => "state" }
        = address.input :zip, :wrapper => false, :as => :string, :input_html => { :class => "zip" }
    .col2
      %h3 Primary Contact
      = f.input :first_name
      = f.input :last_name
      = f.input :email, :as => :string
      = f.simple_fields_for :phones do |phone|
        = phone.input :number, :label => phone.object.ph_type, :required => false
        = phone.input :ph_type, :as => :hidden
    
  .associations.clearfix            
    #certifications
      %h3 Certifications
      = f.simple_fields_for :certifications do |cert|    
        = render 'certification_fields', :f => cert
      .link
        = link_to_add_association 'add certification', f, :certifications, :class => "grey-action small"
    
    #services
      %h3 Services
      = f.simple_fields_for :service_sets do |services|
        = render 'service_set_fields', :f => services
      .link
        = link_to_add_association 'add service', f, :service_sets, :class => "grey-action small"
          
    #skills
      %h3 Skills
      = f.simple_fields_for :skill_sets do |s|
        = render 'skill_set_fields', :f => s
        
      .link
        = link_to_add_association 'add skill', f, :skill_sets, :class => "grey-action small"
      
  
  = f.submit "Sign Up", :class => "red-action submit"