= simple_form_for @problem_request, :remote => true do |f|
  #identify-problems.whitebox
    = render 'shared/form_errors', :object => @problem_request
    %h2 
      Identify the <span class="orange">Problems</span>

    - @categories.each_with_index do |category, i|
      .category-form
        .banner
          %h1= category.name
      
        .problem-detail-list.clearfix
          = f.association :details, :collection  => category.problem_details.approved, :label => false, :as => :check_boxes
          .clr
          <br /><br />
          = f.simple_fields_for "others[]", @problem_request.other_for_category(category) do |p|
            = p.hidden_field :problem_category_id
            = p.input :description, :label => "Other (please specify):"
              
    
    = render 'submits', :f => f