= simple_form_for @problem_request, :remote => true do |f|
  #identify-problems.whitebox
    = render 'shared/form_errors', :object => @problem_request
    %h2 How do we contact you?
  
    .contact-info
      = f.input :full_name
      = f.input :email
      = f.input :phone
      
      %p.provide-address 
        Please provide your address so we can find the best service providers in your region.
        (only zip is required)
      
      .address-fields  
        = f.simple_fields_for :address, @problem_request.build_address do |address|
          = address.input :street_line_1, :label => "Street:"
          = address.input :city, :wrapper => false, :input_html => { :class => "city" }
          = address.input :state, :wrapper => false, :input_html => { :class => "state" }
          = address.input :zip, :wrapper => false, :as => :string, :input_html => { :class => "zip" }
              
    = render 'submits', :f => f, :next_label => "Done"