.whitebox
  %h2.center We've found <span class="bold dark-red">#{@affiliates.count} service providers</span> for you!
  
  .service-providers
    - @affiliates.each do |affiliate|
      - address = affiliate.addresses.first
      .service-provider
        - if affiliate.logo_url
          = image_tag affiliate.logo_url(:thumb)
        - else
          = image_tag "unknown.png"
          
        .col2
          %h3= affiliate.company_name
          %p= address.full_address
          - affiliate.phones.each do |phone|
            %p <b>#{phone.ph_type}:</b> #{phone.number}            
          %p <span class="bold dark-red">#{round_to address.distance_to(@problem_request.coordinates), 2} miles away</span> from your location.
          
          .skills
            %p Skills you might be interested in:
            - affiliate.skills_for_problem(@problem_request).each do |skill|
              = skill.name  