!!!
%html
  %head
    %title Technology Painkillers    
    <link href='http://fonts.googleapis.com/css?family=Quicksand:400,400italic,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  
  %body{:'data-controller' => controller_name, :'data-action' => action_name}
    #header
      #logo
        = link_to root_url do
          = image_tag 'logo.png'
      #menu
        %ul
          %li= link_to "Home", root_url
          %li= link_to "Become an Affiliate", new_affiliate_path
          %li About Us
              
    = render 'shared/banner'
          
    #body
      #main-content{:class => (request.url == root_url) ? 'home-padding' : ''}
        - if flash[:notice]
          %p.notice= notice
          
        - if flash[:alert]
          %p.alert= alert

        = yield
        
    #footer
      .content
        %h1 This footer is empty